@font-face {
  font-family: Rubik;
  src: url("assets/Rubik/Rubik-VariableFont_wght.woff2") format("woff2");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --fg: #000;
  --fg-sidebar: #fff;
  --fg-dim: #444;
  --bg: #fff;
  --bg-sidebar: #1992d4;
  --bg-main: #e2e8f0;
  --bg-projects: #f0b429;
}

body {
  margin: 0;
  font-family: Rubik, system-ui, sans-serif;
  color: var(--fg);
  background-color: var(--bg);

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.profile-image {
  background-color: var(--bg);
  border: 1px solid var(--fg);
  border-radius: 50%;
}

header {
  grid-area: header;
}

.search {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr 1fr 1fr 3fr;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.search svg {
  width: 24px;
  height: 24px;
}

.search label {
  justify-self: right;
}

.search input {
  appearance: none;
  outline: none;
  border: none;
  border-radius: 75px;
  background-color: var(--bg-main);
  font-family: inherit;
  height: 28px;
  padding: 3px 10px;
}

.search button {
  grid-column: 4;
  justify-self: right;
  border: none;
  background-color: var(--bg);
}

.search .profile-image {
  width: 42px;
  height: 42px;
  justify-self: center;
}

.search div:last-child {
  font-weight: 700;
  justify-self: left;
}

.account-actions {
  margin: 20px 0;
  padding: 0 50px 0 15px;
  display: grid;
  grid-template-columns: 1fr 6fr repeat(3, 1fr);
  align-items: center;
  gap: 24px;
}

.account-actions .profile-image {
  width: 65px;
  height: 65px;
  justify-self: right;
}

.account-actions button {
  color: var(--fg-sidebar);
  background-color: var(--bg-sidebar);
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 24px;
  border: none;
  border-radius: 20px;
}

.greeting {
  justify-self: left;
  font-weight: 700;
}

.greeting div:first-child {
  font-size: 0.8rem;
}

.greeting div:last-child {
  font-size: 1.3rem;
}

.sidebar {
  grid-area: sidebar;
  color: var(--fg-sidebar);
  background-color: var(--bg-sidebar);
  font-size: 1.22rem;
  font-weight: 700;
  padding: 14px;
}

.sidebar svg {
  fill: var(--fg-sidebar);
}

.sidebar > div {
  font-size: 1.5rem;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar > div svg {
  width: 40px;
  height: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0 8px;
  margin: 0;
  display: grid;
  gap: 20px;
}

.sidebar ul svg {
  width: 22px;
  height: 22px;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul:first-child {
  grid-template-rows: repeat(6, auto);
  margin-bottom: 60px;
}

nav ul:last-child {
  grid-template-rows: repeat(3, auto);
}

main {
  padding: 30px 30px 50px 20px;
  grid-area: main;
  background-color: var(--bg-main);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "projects-label announcements-label"
    "projects announcements"
    "projects trending-label"
    "projects trending";
  gap: 12px 20px;
}

main .label {
  font-size: 1.2rem;
  font-weight: 500;
}

.label:has(+ .projects) {
  grid-area: projects-label;
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
}

.projects article {
  padding: 20px;
  background-color: var(--bg);
  border-left: 8px solid var(--bg-projects);
  border-radius: 6px;
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.project-text header {
  font-size: 1.1rem;
  font-weight: 600;
}

.project-text p {
  color: var(--fg-dim);
  font-size: 0.9rem;
  margin: 3px 0;
}

.project-buttons {
  align-self: end;
  display: grid;
  grid-template-columns: 8fr repeat(3, 1fr);
  justify-content: right;
  gap: 24px;
}

.project-buttons svg:first-child {
  grid-column: 2;
}

.project-buttons svg {
  width: 24px;
  height: 24px;
  fill: var(--fg-dim);
}

.label:has(+ .announcements) {
  grid-area: announcements-label;
}

.announcements {
  margin-bottom: 24px;
  grid-area: announcements;
  background-color: var(--bg);
}

.label:has(+ .trending) {
  grid-area: trending-label;
}

.trending {
  grid-area: trending;
  background-color: var(--bg);
}

.trending .profile-image {
  width: 32px;
  height: 32px;
}
