*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.3;

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

header {
  grid-area: header;
}

.search {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 2fr;
}

.search button {
  grid-column: 4;
}

.sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}
