*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --fg: #000;
  --fg-sidebar: #fff;
  --fg-dim: #777;
  --bg: #fff;
  --bg-sidebar: #1992d4;
  --bg-main: #e2e8f0;
  --bg-projects: #f0b429;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.3;
  color: var(--fg);
  background-color: var(--bg);

  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.profile-image {
  background-color: var(--bg);
  border: 1px solid var(--fg);
  border-radius: 50%;
}

header {
  grid-area: header;
}

.search {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 1fr 2fr;
}

.search button {
  grid-column: 4;
}

.account-actions {
  display: grid;
  grid-template-columns: 1fr 6fr repeat(3, 1fr);
}

.sidebar {
  grid-area: sidebar;
  color: var(--fg-sidebar);
  background-color: var(--bg-sidebar);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 14px;
}

.sidebar > div {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 14px;
}

nav ul:first-child {
  grid-template-rows: repeat(6, auto);
  margin-bottom: 40px;
}

nav ul:last-child {
  grid-template-rows: repeat(3, auto);
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
